<?xml version="1.0" encoding="utf-8"?>
<Roslynator>
  <Settings>
    <General>
      <!-- <PrefixFieldIdentifierWithUnderscore>true</PrefixFieldIdentifierWithUnderscore> -->
    </General>
    <Refactorings>
      <!-- <Refactoring Id="RRxxxx" IsEnabled="false" /> -->
    </Refactorings>
    <CodeFixes>
      <!-- <CodeFix Id="CSxxxx.RCFxxxx" IsEnabled="false" /> -->
      <!-- <CodeFix Id="CSxxxx" IsEnabled="false" /> -->
      <!-- <CodeFix Id="RCFxxxx" IsEnabled="false" /> -->
    </CodeFixes>
  </Settings>
</Roslynator>