#### Build and tests all pushes, also code coverage
name: CI build
on: [push, pull_request]
jobs:
    build:
        name: Build sources
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@main

            - uses: actions/setup-dotnet@v1
              with:
                dotnet-version: '5.0.100' # SDK Version

            - name: Enable problem matchers
              run: echo "::add-matcher::.github/matchers/dotnet.json"

            - name: Build code
              run: dotnet build

            - name: Test code
              run: dotnet test -v minimal /p:CollectCoverage=true /p:CoverletOutputFormat=lcov /p:CoverletOutput=${{github.workspace}}/codecover/lcov.info

            - name: Publish coverage report to coveralls.io
              uses: coverallsapp/github-action@master
              with:
                github-token: ${{ secrets.GITHUB_TOKEN }}
                path-to-lcov: ${{github.workspace}}/codecover/lcov.info
